
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    overflow-x: none;
  background: #c2e59c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navcontainer{
  width: 100vw;
background: #2c3e50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
nav{
  width: 100%;

}
#navlist{
  width: 100%;
  padding: 15px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
}
#navlogo{
    font-size: 2.4rem;
    color: aliceblue;
    
}
a{
    text-decoration: none;
    color: beige;
}
#navitems{
    display: flex;
    gap: 40px;
}
.divfooter{
background: #2c3e50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

font-size: 1rem;
}
.contentbox{
    width: 70%;
    margin: auto;
    border: 2px solid black;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.rightbox{
    
    position: relative;
    overflow: hidden;
    transition: all 0.6s linear 0s;
    box-shadow: 7px 7px 5px rgb(118, 117, 117);
    border-radius: 50px;
}
.rightbox:hover{
    transform: scale(1.05);
}
.rightbox img{
    display: block;
    height: 400px;
    max-width:400px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}
.rightbox img:hover{
    transform: scale(1.05);
}
.rightbox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 34, 34, 0.713);
   border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s linear 0s;
}
.rightbox .overlay span{
    color: white;
    font-size: 1.2rem;
}
.rightbox:hover .overlay{
    opacity: 1;
}
.leftbox{
    display: flex;
   flex-direction: column;
   flex: 2;
   padding: 20px;
    gap: 20px;
}
.leftbox h2{
 font-size: 2rem;
}
.ingbox{
 font-size: 1.2rem;
}